*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* background colors */
  --light-purple: #cdb4db;
  --background-pink: #EED2E7;

  /* button colors */
  --purple-button: #6F6674; /* light purple for buttons*/
  /* light blue #bde0fe */
  /* dark blue #a2d2ff */

  /* link colors */
  --highlighted: #EA1C2C;

  /* font color */
  --font-color: #2e2831; /*dark purple */

}

body {
  background-color: var(--background-pink);
  color: var(--font-color);
  font-family: "Nunito", sans-sans-serif;
  overflow-x: hidden;
}

/* -------------------- NAVBAR ------------------- */
#mainNavbar {
  background-color: var(--light-purple);
  font-size: 1rem;
  font-weight: 200;
}

#mainNavbar .nav-link {
  color: var(--font-color);
}

#mainNavbar .nav-link:hover {
  color: var(--highlighted);
}

/* -------------------- BODY/MAIN SECTION ------------------- */
.alert-overlay {
  position: relative;
}

.alert-overlay > div {
  position: absolute;
  left: 40%;
  z-index: 4;
}

ul {
  list-style: none;
}

.custom-button {
  background-image: linear-gradient(#B9A2C5, #AE99BA);
  border-radius: 5px;
  border-width: 0;
  /* padding: 0 1rem; */
  padding: 0.35rem 1rem;
  /* text-shadow: 0px 1px 0px rgba(0, 0, 0,0.3); */
  box-shadow: inset 0px -2px 2px rgba(0,0,0,0.2), 
    inset 0 1px 2px rgba(255,255,255,0.3);
  color: white!important;
}

.custom-button:hover {
  background-image: linear-gradient(#AE99BA, #B9A2C5);
}

.main-button {
  background-image: linear-gradient(#a2d2ff, #bde0fe);
  border-radius: 5px;
  border-width: 0;
  padding: 0.35rem 1rem;
  box-shadow: inset 0px -2px 2px rgba(0,0,0,0.2), 
    inset 0 1px 2px rgba(255,255,255,0.3);
}

.white-background {
  background-color: ghostwhite;
}

.form-container {
  border-radius: 1rem;
}

/* section in the body styles */

#textHeader h1 {
  font-weight: 100;
  font-size: 3rem;
}

#textHeader span {
  color: var(--highlighted);
}

.textItems {
  font-weight: 100;
}

.textItems i {
  font-size: 2rem;
}

/* -------------------- FOOTER SECTION ------------------- */
footer {
  background-color: var(--light-purple);
}

footer div {
  padding: 15px;
}

#footerIcons i {
  font-size: 1.5rem;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--highlighted);
}

a:hover {
  color: #564b5b;
}

@media (max-width: 960px) {
  #textHeader h1 {
    font-size: 2.5rem;
  }
  .textItems {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 720px) {
  .textItems {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 540px) {
  #textHeader h1 {
    font-size: 2rem;
  }
}
