*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* custom colors */
  --purple: #cdb4db;
  --pink: #EED2E7;
  --primary-color: #6F6674; /* light purple for buttons*/
  /* --font-color: #564b5b; dark purple */
  --secondary-color: #C3ABD0;
  --highlighted: #EA1C2C;
}

body {
  background-color: var(--pink);
  color: #2e2831;
  font-family: "Nunito", sans-sans-serif;
  overflow-x: hidden;
}

/* -------------------- NAVBAR ------------------- */
#mainNavbar {
  background-color: var(--purple);
  font-size: 1rem;
  font-weight: 200;
}

#mainNavbar .nav-link {
  color: #2e2831;
}

#mainNavbar .nav-link:hover {
  color: #EA1C2C;
}

/* -------------------- BODY/MAIN SECTION ------------------- */
.custom-button {
  background-image: linear-gradient(#B9A2C5, #AE99BA);
  border-radius: 5px;
  border-width: 0;
  /* padding: 0 1rem; */
  padding: 0.35rem 1rem;
  /* text-shadow: 0px 1px 0px rgba(0, 0, 0,0.3); */
  box-shadow: inset 0px -2px 2px rgba(0,0,0,0.2), 
    inset 0 1px 2px rgba(255,255,255,0.3);
  color: white!important;
}

.custom-button:hover {
  background-image: linear-gradient(#AE99BA, #B9A2C5);
}

/* section in the body styles */

#textHeader h1 {
  font-weight: 100;
  font-size: 3rem;
}

#textHeader span {
  color: #EA1C2C;
}

.textItems {
  font-weight: 100;
}

.textItems i {
  font-size: 2rem;
}

/* -------------------- FOOTER SECTION ------------------- */
footer {
  background-color: var(--purple);
}

footer div {
  padding: 15px;
}

#footerIcons i {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--highlighted);
}

a:hover {
  color: #564b5b;
}

@media (max-width: 960px) {
  #textHeader h1 {
    font-size: 2.5rem;
  }
  .textItems {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 720px) {
  .textItems {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 540px) {
  #textHeader h1 {
    font-size: 2rem;
  }
}
