<%- layout('layout/boilerplate')%>
<div>

<h4>How it works?</h4>
<ul>
    <li>
        <h6>Describe the ideal pet for you.</h6>
        <p>Enter your search parameters, including your location and the kind of pet you're looking for!</p>
    </li>
    <li>
        <h6>Search for available pets.</h6>
        <p>
            We'll display all available animals for adoption in your region that fit your criteria. To further hone your search, add additional filters.
        </p>
        <p>Can't find the perfect buddy today? Subscribe to our Pet Alert to get notifications.</p>
    </li>
    <li>
        <h6>Adopt.</h6>
        <p>
            Fill in an application form. Then get connected with any of the more than 15,000 animal shelters, rescues, and individual pet owners.</p>
    </li>
</ul>
</div>