<%- layout('layout/boilerplate')%>
  <section class="row py-3">
    <div class="col-6 offset-3 white-background px-5 py-3 form-container">
      <h1 class="text-center">Add a New Pet</h1>

      <form class="mb-3 validated-form" action="/" method="POST" novalidate>
        <div class="mb-3">
          <label class="form-label" for="name">Name:</label>
          <input class="form-control" type="text" name="name" 
          id="name" placeholder="Pet's Name" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="image">Image:</label>
          <input class="form-control" type="url" name="image" 
          id="image">
        </div>

        <div class="mb-3">
          <label class="form-label" for="breed">Breed:</label>
          <input class="form-control" type="text" name="breed" id="breed" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="price">Price:</label>
          <input class="form-control" type="number" name="price" id="price" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="age">Age:</label>
          <input class="form-control" type="number" name="age" id="age" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="category">Select Category</label>
          <select class="form-select" name="category" id="category" required>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="fish">Fish</option>
            <option value="bird">Bird</option>
          </select>
        </div>

        <div class="text-end">
          <button class="btn main-button" type="submit">Submit</button>
        </div>
        
      </form>
      <div class="text-center"><a href="/">Cancel</a></div>
    </div>
  </section>
